.bhulGaya {
    width: 1180px;
    height: 162px;
    position: absolute; 
    top: 3561px;
left : 186px;

  
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main img{
    width: 172.86px;
    height: 90px;
    image-rendering: auto;
    filter: grayscale(100%);
   

}

.main img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}